$body_text: #000;
$body_bg: #E5E5E5;

/*header*/
$header_bg: #FFFFFF;
$color_success: #EB016E;
$header_line: hsla(0, 0%, 80%, 1);
$header_menu_info: #F4F4F4;
$header_shadow: rgba(0, 0, 0, 0.1);
$slider_header_bg: #D5EEEB;
$dark_container: #202E35;
$dark_border: hsla(0, 0%, 100%, 0.1);
$gray_container: #F4F4F4;
$white_container: #FFFFFF;
$gray_block_percent: #EB016E;
$gray_border_bottom: hsla(0, 0%, 0%, 0.1);
$text_footer: hsla(0, 0%, 100%, 0.4);
/*footer*/
$quest_block: #202E35;
$footer_bg: #05151D;
$footer_info_border: hsla(0, 0%, 100%, 0.1);

/*buttons*/
$button_border: #E5E5E5;
$button_text: #000;
$btn_danger: #EB016E;
$btn_danger_text: #FFF;
$btn_danger_hover: #9f014a;
$btn_dark: #202E35;
$btn_dark_hover: #9f014a;

/*inputs*/
$input_borders: rgba(0, 0, 0, 0.2);
$input_bg: #FFF;
$input_question_footer: hsla(0, 0%, 100%, 0.4);

/*card*/
$card_bg: #FFFFFF;
$icon_color: hsla(0, 0%, 0%, 0.4);

/*press*/
$press_item_bg: #F4F4F4;
$press_hover_bg: #EB016E;
$press_date: hsla(0, 0%, 0%, 0.4);

/*news*/
$news_border: rgba(0, 0, 0, 0.1);
$news_item_bg: #FFF;
$news_item_bottom_line: #EB016E;
$news_icon: hsla(0, 0%, 0%, 0.2);

